form {
  width: 50%;
  margin: 0 auto;
}
input {
  padding: 20px;
  width: 100%;
}
h1 {
  text-align: center;
}
.button {
  color: white;
  background-color: #0866ff;
  border-radius: 10px;
  border: none;
  padding: 40px;

  margin: auto;
}
